@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Fjalla+One|Montserrat|Noto+Sans+JP|PT+Sans+Caption|PT+Sans+Narrow|Playfair+Display|Reem+Kufi|Courgette|Ropa+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}

p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    color: #EEF4ED;
}

h1.title {
    margin-bottom: 1.2rem;
    color: #FF70A6;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    letter-spacing: .3rem;
    word-spacing: 1.3rem;
}

.btn a {
    display: block;
    width: 10rem;
    height: 2rem;
    border: 0.15rem solid #FF70A6;
    line-height: 1.7rem;
    margin: 1.5rem auto 0;
    color: #EEF4ED;
    text-align: center;
}

.main_container {
    position: relative;
    background: #13315C;
}

/* Navigation Bar */

.navbar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #8DA9C4;
}

.navbar .navbar_items ul {
    display: flex;
}

.navbar .navbar_items ul li {
    text-transform: uppercase;
    margin: 0 0.6rem;
}

.navbar_items {
    text-transform: uppercase;
    color:
}

/* Banner Image */

.banner_image {
    background: url("../img/p3.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    text-align: center;
    color: #8DA9C4;
}
.banner_content h1 {
    text-transform: uppercase;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.banner_content h1 span {
    color: #134074;
}

/* About */

.about,
.services,
.contactus,
.ourteam {
    padding: 5% 10%;
    text-align: center;
}

/* Services */

.services {
    background: #463730;
    width: 100%;
}

.diff_services {
    display: flex;
    margin-top: 1.9rem;
    justify-content: space-between;
}

.diff_services .diff_services_item {
    width: 30%;
}

.diff_services .diff_services_item img {
    width: 100%;
}

.diff_services .diff_services_item h3 {
    color: #FF70A6;
    margin-bottom: .9rem;
}

/* Contact */

.form_input {
    margin-bottom: .9rem;
}

.form_input input[type="text"] {
    width: 15rem;
    padding: .6rem 1.2rem;
    border: 2px solid #FF70A6;
}

.form_input textarea {
    width: 15rem;
    padding: .6rem 1.2rem;
    height: 5rem;
    resize: none;
    border: 2px solid #FF70A6;
}

/* Our team */

.ourteam {
    background: #13315C;
}

.ourteam_wrapper .team {
    display: flex;
}

.ourteam_wrapper .team-1 .team {
    margin-bottom: 1.2rem;
}









